
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #33C759;
}

.container {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: 25%;
  width: 50%;
  padding: 20px 30px 30px 30px;
  justify-content: space-between;
}

.container h1 {
  font-size: 20px;
}

.container .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .items label {
  font-size: 20px;
}

.container .items label i {
  color: red;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 400ms;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 400ms;
}

input:checked+.slider {
  background-color: #33C759;
}

input:focus+.slider {
  box-shadow: 0 0 1px #33C759;
}

input:checked+.slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

button{
  outline: 0;
  background: #33C759;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  width: 97px;
  padding: 10px;
  border: 2.5px solid #33C759;
  border-radius: 34px;
  cursor: pointer;
  transition: 1s;
  transition-property: background;
}

button:active{
  background: #10AC84;
}